# Bailey Korfhage
## DS-160-01
## Version 1

In [1]:
import pandas as pd

### Question 1

In [2]:
df=pd.read_csv('weather_2012.csv',low_memory=False)

### Question 2

In [3]:
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
6762,2012-10-08 18:00:00,10.6,-0.7,45,7,25.0,101.98,Mostly Cloudy
8746,2012-12-30 10:00:00,-12.4,-16.0,74,24,24.1,100.82,Cloudy
2571,2012-04-17 03:00:00,15.4,6.3,55,37,25.0,100.61,Mainly Clear
6315,2012-09-20 03:00:00,8.0,4.8,80,4,25.0,101.91,Clear
3773,2012-06-06 05:00:00,12.0,7.2,72,9,48.3,101.05,Mostly Cloudy

### Question 3

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

### Question 4

In [7]:
df['date_time']=df['Date/Time']
df['temp_c']=df['Temp (C)']
df['dew_point']=df['Dew Point Temp (C)']
df['relative_humidity']=df['Rel Hum (%)']
df['wind_speed']=df['Wind Spd (km/h)']
df['visibility']=df['Visibility (km)']
df['pressure']=df['Stn Press (kPa)']
df['weather']=df['Weather']

In [8]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather',
       'date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

### Question 5

In [9]:
df.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### Question 6

In [10]:
df['temp_f']=(df['temp_c']*1.8)+32

In [12]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather',
       'date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather', 'temp_f'],
      dtype='object')

### Question 7

In [20]:
neworder = ['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather',
       'date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather']
df=df.reindex(columns=neworder)

In [21]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

### Question 8

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
 8   date_time           8784 non-null   object
 9   temp_f              8784 non-null   float64
 10  temp_c              8784 non-null   float64
 11  dew_point           8784 non-null   float64
 12  relative_humidity   8784 non-null   int64
 13  wind_speed          8784 non-null   int64
 14  visibility          8784 non-null   float64
 15  pressure            8784 non-null   float64
 16  weather             8784 non-null   object
dtypes: float64(9), int64(4), object(4)
memory usage: 1.1+ MB

### Question 9

In [23]:
df['date_time']=pd.to_datetime(df['date_time'])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
 8   date_time           8784 non-null   datetime64[ns]
 9   temp_f              8784 non-null   float64
 10  temp_c              8784 non-null   float64
 11  dew_point           8784 non-null   float64
 12  relative_humidity   8784 non-null   int64
 13  wind_speed          8784 non-null   int64
 14  visibility          8784 non-null   float64
 15  pressure            8784 non-null   float64
 16  weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(9), int64(4), object(3)
memory usage: 1.1+ MB

### Question 10

In [27]:
df['weather'].value_counts().head(10)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

### Question 11

In [29]:
April=df.loc[(df.temp_f>90)&(df.weather=='Clear')&(df.dew_point>17)&(df.relative_humidity<50)]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,32.5,18.5,44,15,24.1,101.34,Clear,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,32.5,19.8,47,13,24.1,101.32,Clear,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

April is the month

### Question 12

In [30]:
df['month']=df['date_time'].dt.month

### Question 13

In [31]:
df.to_csv('weather_2012_new.csv',index=False)